body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(109,196,200,0.6);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("Screenshot 2025-04-06 103601.png");
    background-size:cover;
    fill-opacity: 0.5;
    flex-direction: column;
    }

.Sign-Up-Container {
        background-color: #ffffff;
        background: radial-gradient(rgba 0, 0, 0, 0), (rgba 255, 255, 255, 0.6 );
        padding: 90px;
        border-radius: 40px;
        box-shadow: 0px 10px 20px rgb(109, 144, 166);
        text-align: center;
        width: 250px;
        border: solid 1px #000000;
        margin: auto;
    }
h1 {
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;

    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;

}
h6 {
    text-align: center;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}
form {
    text-align: center;
}


h5 {
    font-size: 10px;
    text-align: center;
}

h6 {
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(109, 196, 200, 1);
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

input {
    width: 100%;
    display: block;
    border-radius: 20px;
    padding: 10px;
    -webkit-text-stroke-color: aqua;
    justify-content: center;

}
